*{
  box-sizing: border-box;
  margin: 0;
  padding: 20px 20px 20px 20px;
}

body{
  font-family: 'Sriracha', cursive ,Arial, Helvetica, sans-serif;
  line-height: 1.4;

}



.container {
  display: flex;
  padding: 8rem 8rem;
  background-color: #318fb5;
  color:#ffe4e4;
  border-radius: 3em;
  border-style: ridge;
  box-shadow: 10rem;
  position: fixed;
  

}

h2{
  font-size: 30px;
}
h4{
  font-size: 25;
}
.btn{
  display:inline-flex;
  border: none;
  background: #005086;
  color: #fff;
  padding: 15px 20px;
  cursor: pointer;
  margin-left: 33rem;
  font-size: 26px;
  position: fixed;
  margin-top: 400px;
}

.btn:hover {
  background: #b0cac7;
}
